version: "3.9"
services:
  postgresql:
    build: hosting/database/postresql
    ports:
      - "5432:5432"
    volumes:
      - postgresql-volume:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: spending_tracker
      POSTGRES_PASSWORD: password
      POSTGRES_USER: root
  postgresql-adminer:
    depends_on:
      - postgresql
    build: hosting/database/adminer
    ports:
      - "8081:8081"
    environment:
      POSTGRES_HOST: postgresql
      POSTGRES_DB: spending_tracker
      POSTGRES_PASSWORD: password
      POSTGRES_USER: root
  # Uncomment to enable starting spending tracker app in docker
  #  spending-tracker-app:
  #    build:
  #      dockerfile: hosting/app/Dockerfile
  #    network_mode: host
  #    volumes:
  #      - ./src:/app/src
  #      - ./public:/app/public
  #    environment:
  #      PORT: 3000
volumes:
  postgresql-volume:
  pgadmin-volume:
